body {

  background-color: #441e13;
  color: white;
}
div {
  outline: 1px solid yellow;
}

.logoContainer {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow: hidden; /* make the div grow to accomodate float child elements */
}

.logo {
  width: 205px;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  float: left;
}

.slogan {
  width: 380px;
  margin-top: 18px;
  float: left;
  color: #a37b71;
  font-family: sans-serif;
  font-size: 0.9rem
}

.nav {
  margin-top: 20px;
  width: 920px;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.25);
}

.nav ol {
  padding: 35px;
  padding-top: 15px
}
.nav li {
  border-right: 1px solid #D4B364;
  display: block;
  float: left;
  font-family: sans-serif;
  color: white;
  padding: 6px 20px;
}

.nav li:last-child {
  border-right: none;
}

.aboutContainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
}

.aboutText {
  width: 500px;
  margin-right: 150px;
  float: right;
}

.menu {
  width: 200px;
  float: left;
  background-color: navy;
  height: 480px;
}

.menu li {
  display: block;
  border-bottom: 2px solid blue;
}

.menu ol {
  padding: 0;
}

.menuAndContentContainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  height: 480px;
  background-color: orange;
}

.content {
    float: left;
    padding: 20px;
}
